<!DOCTYPE html>
<html>
<head>
  <title> Chriszson CBI </title>
  <link rel="stylesheet" href="../static/css/Merch.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="icon" 
     type="image/png" 
     href="../static/images/Logo_Transparent_Black.png">
</head>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../static/images/img_fjords.jpg">
      <img src="../static/images/Beanie.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Fabric CBI Beanie 15$</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../static/images/img_forest.jpg">
      <img src="../static/images/Snapback.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">CBI Snapback 20$</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../static/images/img_lights.jpg">
      <img src="../static/images/Wristband.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">CBI Wrist Band 5$</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../static/images/img_mountains.jpg">
      <img src="../static/images/T-Shirt.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">CBI T-Shirt 30$</div>
  </div>
</div>

<div class="clearfix"></div>
